<div>
    <div class="nav justify-content-end px-2 navbar-bg py-2">
        <div class="text-white fs-5 fw-bolder my-auto px-3">
            <span class="px-1">{{user.username | uppercase}}</span>
            <i class="far fa-user-circle"></i>
        </div>
        <button class="btn btn-outline-primary fw-bolder fs-5" (click)="exit()">
            Exit
        </button>
    </div>
    <div class="row">
        <div class="col-xs-0 col-sm-2">
            <h5 class="px-2 my-2 text-white">Drive of {{user.username | uppercase}}</h5>
            <div class="list-group left-menu" style="height: 85vh;">
                <button type="button" class="btn list-group-item left-menu text-white"
                    [ngClass]="{'item-active': personalFiles}" (click)="loadPersonalFiles()">
                    My Files
                </button>
                <button type="button" class="btn list-group-item left-menu text-white w-100"
                    [ngClass]="{'item-active': !personalFiles}" (click)="loadSharedFiles()">
                    Shared Files
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 mt-1">
            <div class="btn-group" role="group">
                <div class="input-group mb-3 me-3">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" [disabled]="!personalFiles"
                        aria-expanded="false">
                        New
                        <i class="fas fa-plus"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CreateFolder">Folder</button></li>
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CreateFile">File</button></li>
                    </ul>
                </div>
                <div class="input-group mb-3 me-3">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" [disabled]="!personalFiles"
                    aria-expanded="false">
                        Copy
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CopyRVModal">
                            Real-Virtual
                        </button></li>
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CopyVRModal" [disabled]="selectedItem == -1">
                            Virtual-Real
                        </button></li>
                        <li><button class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCopy" [disabled]="selectedItem == -1">
                            Virtual-Virtual
                        </button></li>
                    </ul>
                </div>
                <div class="input-group mb-3 me-3">
                    <button class="btn btn-outline-primary" type="button" [disabled]="selectedItem == -1 || !personalFiles" 
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasMove">
                        Move
                    </button>
                </div>
                <div class="input-group mb-3 me-3">
                    <button class="btn btn-outline-primary" type="button"
                        [disabled]="selectedItem == -1">
                        Delete
                    </button>
                </div>
                <div class="input-group mb-3 me-3">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#SharedModal"
                        [disabled]="selectedItem == -1 || !personalFiles">
                        Shared
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <button class="btn text-white" (click)="goBack()">
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                </div>
                <div class="col">
                    <span class="text-white fs-5 fw-bolder">{{path}}</span>
                </div>
            </div>
            <div class="row">
                    <div class="row text-white">
                        <div class="col-4">
                            <span class="ms-5">Name</span>
                        </div>
                        <div class="col-2">
                            <span>Extension</span>
                        </div>
                        <div class="col-2">
                            <span>Date created</span>
                        </div>
                        <div class="col-2">
                            <span>Date Modified</span>
                        </div>
                        <div class="col-2">
                            <span>Size</span>
                        </div>     
                    </div>
                    <div class="file" *ngFor="let file of files; let index = index"
                        [ngClass]="{'file-selected': selectedItem == index}" 
                        (click)="selectedItem == index?selectedItem = -1:selectedItem = index">
                        <app-file [file]="file" [selected]="index == selectedItem" [username]= "user.username"></app-file>
                    </div>
            </div>
        </div>
    </div>

</div>

<app-move id="offcanvasMove" tabindex="-1" class="offcanvas offcanvas-end"></app-move>

<app-copy id="offcanvasCopy" tabindex="-1" class="offcanvas offcanvas-end"></app-copy>

<app-shared id="SharedModal"  class="modal fade"  tabindex="-1" aria-hidden="true"></app-shared>

<app-copy-vr id="CopyVRModal"  class="modal fade"  tabindex="-1" aria-hidden="true"></app-copy-vr>

<app-copy-rv id="CopyRVModal"  class="modal fade"  tabindex="-1" aria-hidden="true"></app-copy-rv>

<app-create-file [username]= "user.username" [route]="path" id="CreateFile" class="modal fade" tabindex="-1" aria-hidden="true"></app-create-file>

<app-create-folder [username]= "user.username" [route]="path" [files]="files" id="CreateFolder" class="modal fade" tabindex="-1" aria-hidden="true"></app-create-folder>



