/* You can add global styles to this file, and also import other style files */

body {
    background-color: #212529 !important;
}

.title-bg{
    background-color: #3a3f44;
}

.body-bg {
    background-color: #212529 !important;
}